<% if @shout.errors.any? %>
  <% @shout.content.errors.full_messages.each do |message| %>
    <div><%= message %></div>
  <% end %>
<% end %>

<%= form_for(@shout) do |form| %>
  <%= hidden_field_tag :content_type, 'TextShout' %>
  <%= form.fields_for(:content) do |content_form| %>
    <%= content_form.text_field :body, placeholder: "Shout here" %>
  <% end %>
  <%= form.submit "Shout!" %>
<% end %>

<%= form_for(@shout) do |form| %>
  <%= hidden_field_tag :content_type, 'PhotoShout' %>
  <%= form.fields_for(:content) do |content_form| %>
    <%= content_form.file_field :image %>
  <% end %>
  <%= form.submit "Shout!" %>
<% end %>
