<% @shout.errors.full_messages.each do |error| %>
  <div><%= error %></div>
<% end %>

<%= form_for(@shout) do |form| %>
  <%= form.hidden_field :content_type, value: 'TextShout' %>
  <%= form.fields_for(:content) do |content_form| %>
    <%= content_form.text_field :body, placeholder: "Shout here" %>
  <% end %>
  <%= form.submit "Shout!" %>
<% end %>

<%= form_for(@shout) do |form| %>
  <%= form.hidden_field :content_type, value: 'PhotoShout' %>
  <%= form.fields_for(:content) do |content_form| %>
    <%= content_form.file_field :image %>
  <% end %>
  <%= form.submit "Shout!" %>
<% end %>
